<% if @messages.empty? %>
<div class="row project-item">
  <p class="top">No news messages found.</p>
</div>
<% end %>
<% @messages.each do |message| %>
<div class="row project-item">
  <h2>News message</h2>
  <p class="left">
  <%= message.content %>  
  </p>
  <% if admin? %>
  <%= link_to raw('<i class="large icon-remove"></i>'), message_path(message), method: :delete, data: { confirm: 'Are you sure you want to delete this news message?' }, class: 'button right no-styling', style: 'width: 50px; margin-right: 50px;' %>
  <% end %>
</div>
<% end %>