<% if @messages.empty? %>
<div class="row project-item">
  <p class="top">Er zijn geen berichten gevonden.</p>
</div>
<% end %>
<% @messages.each do |message| %>
<div class="row project-item">
  <h2>Bericht</h2>
  <p class="left">
  <%= message.content %>  
  </p>
  <% if admin? %>
  <%= link_to raw('<i class="large icon-remove"></i>'), message_path(message), method: :delete, data: { confirm: 'Weet je zeker dat je dit bericht wil verwijderen?' }, class: 'button right no-styling', style: 'width: 50px; margin-right: 50px;' %>
  <% end %>
</div>
<% end %>