<h1>Nieuw bericht</h1>
<div class="content">
  <%= simple_form_for @message do |f| %>
    <%= f.input :content, label: 'Kort en bondig bericht:', placeholder: 'Maximaal 255 tekens' %>
    <%= f.button :submit, value: 'Opslaan' %>
  <% end %>
</div>