<h1>Je Stemmen</h1>
<div class="details">
<% if Award.all.size > current_user.votes.size %>
  <p>Je kan nog <%= Award.all.size - current_user.votes.size %> stemmen uitbrengen.</p>
<% else %>
  <p>Je hebt al je stemmen uitgebracht.</p>
<% end %>
<% Award.all.order('id').each do |award| %>  
  <h3><%= award.name %></h3>
  <p>
    <% if current_user.votes and current_user.votes.pluck(:award_id).include?(award.id) %>
    In deze categorie stemde je op: <strong><%= link_to current_user.votes.detect { |vote| vote.award.id == award.id }.project.title, project_path(current_user.votes.detect { |vote| vote.award.id == award.id }.project.id) %></strong>
    <% else %>
    In deze categorie heb je nog geen stem uitgebracht.
    <% end %>
  </p>
<% end %>
</div>